article{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 150px;

    .bloco-conteudo{
        width: 65%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        .bloco-destaque{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            .post-title-content{
                width: 50%;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                .post-title{
                    font-size: 36px;
                    font-weight: bold;
                    line-height: normal;
                    color: #31AFB4;
                }
                .post-date{
                    text-align: right;
                    text-transform: uppercase;
                    font-size: 20px;
                    color: #31AFB4;
                    
                }

                .post-author{
                    text-align: left;
                    font-size: 20px;
                    color: #31AFB4;
                }
            }
    
            .post-image{
                width: 50%;
                object-fit: cover;
            }
        }

        .post-content{
            h2{
                color: #31AFB4;
            }

            p{
                font-weight: normal;
                strong{
                    color: #31AFB4;
                }
            }

            a{
                color: #31AFB4;
                text-decoration: underline;
            }
        }


    }

    .chamada-produtos{
        color: #31AFB4;
        font-size: 36px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 899px) {
    article{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 150px;
    
        .bloco-conteudo{
            width: 90%;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
    
            .bloco-destaque{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
    
                .post-title-content{
                    width: 100%;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column-reverse;
                }
        
                .post-image{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}